#main--container,
#cargando--display,
#display--promotional {
    background-color: #1c2541f8;
    padding: 40px 30px;
    margin: 2% 25%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label--principal {
    font-size: 56px;
    font-weight: 600;
    color: #ECF8F8;
}

#display--promotional {
    margin-top: 40px;
    color: #ECF8F8;
    text-align: center;
    padding: 80px 80px;
}

#label--principal--promotional {
    font-size: 52px;
    font-weight: 500;
}

#display--promotional h2 {
    font-size: 42px;
    font-weight: 500;
}

#display--promotional h3 {
    font-size: 42px;
    font-weight: 400;
}

#display--promotional h4 {
    font-size: 42px;
    font-weight: 300;
}

#cargando--display {
    margin-top: 100px;
}

#main--container--small {
    background-color: #1c2541f8;
    padding: 35px;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main--container--small #label--principal {
    font-size: 46px;
    font-weight: 700;
    color: #ECF8F8;
}

#main--container--small input[type="url"] {
    font-size: 30px;
    border-radius: 10px;
    width: 20vw;
    color: black;
}

#display--output {
    background-color: #1c2541f8;
    padding: 20px;
    border-radius: 12px;
    overflow-y: scroll;
    height: 74vh;
    margin: 0px 60px;
    margin-top: 56px;
    font-size: 28px;
}

#display--output h2 {
    margin: 5px;
}

#display--output a {
    color: #ffffdd;
    font-weight: 700;
    font-style: italic;
    margin: 5px;
    text-decoration: underline;
}

#display--output p strong a {
    color: #ffffdd;
    font-weight: 700;
    font-style: italic;
    border-bottom: 0px solid transparent;
    margin: 0px 5px;
    width: fit-content;
}

#display--output a:hover {
    text-decoration: underline;
}

#display--output li, #display--output p strong {
    display: block !important;
}


#display--output li, #display--output p {
    margin: 12px 4px;
}

#display--output li p strong {
    display: flex;
    flex-direction: row;
}

#display--output ul li{
    padding: 2px 20px;
}

#display--output p strong {
    text-decoration: underline;
}

button {
    border: 4px solid #626D58;
    border-radius: 10px;
    background-color: #77966D;
    color: #ECF8F8;
    padding: 5px 20px;
    margin: 2px 10px;
}

#url--Search {
    font-size: 28px;
    border-radius: 10px;
    width: 40vw;
    color: black;
    min-width: 320px;
    padding-left: 10px;
}

@media(max-height:1550px) {
    #display--output {
        padding: 20px;
        height: 67vh;
        font-size: 18px;
    }

    #display--promotional {
        margin: 20px 20px;
        color: #ECF8F8;
        text-align: center;
        padding: 10px 20px;
    }
}

@media(max-height:850px) {
    #display--output {
        padding: 20px;
        height: 67vh;
        font-size: 18px;
    }

    #display--promotional {
        margin-top: 40px;
        color: #ECF8F8;
        text-align: center;
        padding: 25px 80px;
    }
}

@media(max-height:730px) {
    #display--output {
        padding: 20px;
        height: 58vh;
        font-size: 28px;
    }

    #display--promotional {
        margin: 20px 40px;
        color: #ECF8F8;
        text-align: center;
        padding: 10px 20px;
    }

    #label--principal--promotional {
        font-size: 32px;
        font-weight: 500;
    }

    #display--promotional h2 {
        font-size: 32px;
        font-weight: 500;
    }

    #display--promotional h3 {
        font-size: 22px;
        font-weight: 300;
    }

    #display--promotional h4 {
        font-size: 22px;
        font-weight: 200;
    }
}

@media(max-width:638px) {

    #main--container {
        padding: 20px 20px;
        margin: 2% 25%;
    }

    #label--principal {
        font-size: 25px;
        text-align: center;
        margin-left: 82px;
    }

    #title--container{
        display: flex;
    }

    #display--promotional {
        margin: 5px 15px;
        padding: 2px 10px;
        /* height: 50vh; */
    }

    #label--principal--promotional {
        font-size: 45px;
        font-weight: 500;
    }

    #display--promotional h2 {
        font-size: 32px;
        font-weight: 500;
    }

    #display--promotional h3 {
        font-size: 32px;
        font-weight: 300;
    }

    #display--promotional h4 {
        font-size: 32px;
        font-weight: 200;
    }

    #url--Search {
        font-size: 28px;
        border-radius: 10px;
        width: 40vw;
        min-width: 220px;
    }
}

@media(max-width:450px) {

    #main--container,
    #cargando--display {
        padding: 20px 20px;
        margin: 20px;
        flex-direction: column;
        font-size: 18px;
    }

    #main--container div:last-child {
        flex-direction: column;
        font-size: 18px;
    }

    #label--principal {
        font-size: 25px;
        text-align: center;
        margin-left: 0px;
    }


    #display--promotional {
        margin: 5px 15px;
        padding: 2px 10px;
        /* height: 50vh; */
    }

    #label--principal--promotional {
        font-size: 35px;
        font-weight: 500;
    }

    #display--promotional h2 {
        font-size: 32px;
        font-weight: 500;
    }

    #display--promotional h3 {
        font-size: 32px;
        font-weight: 300;
    }

    #display--promotional h4 {
        font-size: 32px;
        font-weight: 200;
    }

    #url--Search {
        font-size: 18px;
        border-radius: 10px;
        width: 40vw;
        min-width: 220px;
    }

    button {
        font-size: 18px;
        padding: 5px 12px;
    }
}